<md-toolbar color="light">
  <button type="button" md-button (click)="sidenav.open()">Me contacter</button>
   <span class="spacer"></span>
  <md-icon>fitness_center</md-icon><span>BlogFitness</span>
   <span class="spacer"></span>
  <button md-raised-button color="warn" class="menuslide" type="button" md-button (click)="openDialog()">Connexion(Admin)</button>
</md-toolbar>

<md-sidenav-container>
  <!-- le contenu de la sidenav -->
  <md-sidenav #sidenav >
    Jolly good!
  </md-sidenav>

  <!-- Contenu de la page -->
  <div >
    <md-grid-list cols="10" rowHeight="2:1" >

      <md-grid-tile color="light" id="onlineuserspanel" colspan="3" rowspan="4">
        <div>
          <ul *ngFor="let user of connectedUsers">
            <li>{{user}}</li>
          </ul>
        </div>
      </md-grid-tile>


      <md-grid-tile id="managepanel"  colspan="7" rowspan="1">2</md-grid-tile>




      <md-grid-tile id="wallpanel" colspan="7" rowspan="8">
        <div style="height: 100%; width: 100%;">
          <app-wall></app-wall>
        </div>
      </md-grid-tile>



      <md-grid-tile id="chatpanel" colspan="3" rowspan="5">
        
        <table>
          <tr>
            <p style="color: yellow;"> Bonjour {{username}} </p>
          </tr>

          <tr>
            <div class="ZoneMsg">
            <md-chip-list class="mat-chip-list-stacked">
            <md-chip style="background-color: #E6E6FA;" *ngFor="let chat of chatArray">
            <strong>{{chat.username}}: </strong>
                    {{chat.text}}
            </md-chip>
            </md-chip-list>
            </div>
          </tr>

        <md-divider></md-divider>

          <tr style="align-content: center;">
            <div style="position: relative;">
            <div>
            <input style="width: 60%;" maxlength="30" type="text" [(ngModel)]="text">
            <button  (click)="addChat()">Envoi</button>
            </div>
            </div>
          </tr>

        </table>
<!--
        <div class="chats">
          <p *ngFor="let chat of chatArray"><strong>{{chat.username}}: </strong> {{chat.text}}</p>
        </div>
-->
      </md-grid-tile>





    </md-grid-list>
  </div>

</md-sidenav-container>